body{

    background-color:#ffe5ae;

}

#articleSavedSuccessToast{

    width: 200px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
    border: 1px solid grey;
    border-radius: 4%;
    visibility: hidden;
}

#signOutButtonLink{
    float: right;
    display: block;
}
#signOutButtonDiv{
    height: 50px;
    margin-right: 25px;
    position: sticky;
    top: 20px;
}

#signOutButtonLink{

        background-color: #1a93c7; /* Green */
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
}

#topBar{
margin: 25px;
}

h1,h2{
display: inline;
}
h2{
float: right;
margin: 0;
}

.card-img-top{
    height: 400px;
    width: 600px;
    object-fit: cover;
}
img{
    box-shadow: 5px 10px 18px #888888;
}

.cardHolder{
  // margin: 0 auto;
  // max-width: 800px;
}

.card{
   border : 5px solid grey;
   border-radius: 10px;
   padding: 6px;
   margin: 6px;
   height: 550px;
   width: 622px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin: 20px auto;
justify-content: center;
}

.container{
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-reght: auto;
width: 650px;
}
