<html>
<head>
  <link rel="stylesheet" href="css/home.css">
</head>

<div id = "searchContainer">

  <div id = "commonTopicContainer">

    <a href="/topic?topic=Climate+Change">Climate change</a>
    <a href="/topic?topic=Sports" >Sports</a>
    <a href="/topic?topic=Electric+Cars" >Electric Cars</a>
    <a href="/topic?topic=India" >India</a>

  </div>

  <form action = "/topic?">
    <input required  type = "text" name="topic" placeholder = "Search for any topic"><br>
    <button type="submit">Go</button>
  </form>

</div>

</html>