<html>
<head>
<link rel = "stylesheet" href = "css/home.css">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<!--  <div class="d-flex flex-column">-->
<button id = "createCardBtn" onclick="method1()">Create Card</button>

    <div class="container">
      <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <div class="search">
            <i class="fa fa-search"></i>
            <form action = "/Topic">
              <input type="text" name = "topic" class="form-control" placeholder="Search For Any Topic">
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<script src = "js/home.js"></script>

<div id = "createCard"></div>

<a href ="/Top-Headline">
  <button class="button" style="vertical-align:middle"><span>Get Top Headlines </span></button>
</a>
</body>
</html>