<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href = "css/newsListing.css">
</head>
<body>
<script src = "js/newListing.js"></script>

<div id = "topBar">
    <h1 id = "pageTitle" th:inline = "text">[[${pageTitle}]]</h1>
    <h2 id = "loggedInUser" th:inline = "text">Hi, [[${loggedInUser}]]</h2>
</div>
<div id = "signOutButtonDiv">
    <a id = "signOutButtonLink" href = "/logout">Sign Out</a>
</div>

<div id ="articleSavedSuccessToast">

    <span>Article Saved Successfully!</span>

</div>

    <div id = "container" >
        <div class = "cardHolder" th:each="articles: ${articles}">
            <!--            <div th:attr="id=@{${articles.ArticleId}}"></div>-->
            <!--            <div class="d-flex align-items-center">-->
            <div class = "container">
                <div class ="card">
                    <img class="card-img-top" th:src = "@{${articles.urlToImage}}">
                    <div class="card-body">
                        <h5 class = "card-title" th:inline = "text">[[${articles.title}]]</h5>

                        <p class= "card-text" th:inline = "text">[[${articles.description}]]</p>
                        <a th:href = "@{${articles.url}}" class = "btn btn-primary">Read the Full Article</a>
                        <!--            <form action = "" method="get">-->
                        <a name="article" th:attr="id = @{${articles.ArticleId}}" onClick ="saveArticle(this)" class = "btn btn-primary">Save the Article</a>
                        <!--            </form>-->
                    </div>
                </div>
            </div>
            <!--            </div>-->
        </div>
    </div>


</body>
</html>